# Análise exploratória de dados

In [1]:
import pandas as pd

## 1. Criação do Dicionário de Dados

In [2]:
df = pd.read_csv("../data/raw/attention.csv")
df.head()

   Unnamed: 0  subject attention  solutions  score
0           0        1   divided          1    2.0
1           1        2   divided          1    3.0
2           2        3   divided          1    3.0
3           3        4   divided          1    5.0
4           4        5   divided          1    4.0

In [3]:
df_dict = pd.DataFrame([
    {
        'variavel': 'subject',
        'descricao': 'Label do individuo no experimento',
        'tipo': 'qualitativa',
        'subtipo': 'nominal'
    },{
        'variavel': 'attention',
        'descricao': 'Atenção do individuo durante o experimento',
        'tipo': 'qualitativa',
        'subtipo': 'nominal'
    },{
        'variavel': 'solutions',
        'descricao': 'Numero de solucoes fornecidas pelo individuo',
        'tipo': 'quantitativa',
        'subtipo': 'discreta'
    },{
        'variavel': 'score',
        'descricao': 'Pontuacao do individuo',
        'tipo': 'quantitativa',
        'subtipo': 'continua'
    }
])
df_dict

,variavel,descricao,tipo,subtipo
0,subject,Label do individuo no experimento,qualitativa,nominal
1,attention,Atenção do individuo durante o experimento,qualitativa,nominal
2,solutions,Numero de solucoes fornecidas pelo individuo,quantitativa,discreta
3,score,Pontuacao do individuo,quantitativa,continua

## 2. Salvando

In [4]:
df_dict.to_csv('../data/external/dicionario.csv', index=False)